.add-adress-input {
    background: none;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    padding: 15px 10px;
    border: none;
    border-bottom: 1px solid #9b9b9b;
    outline: none;
}

.add-adress-save-btn {
    width: 100%;
    background: #fc0;
    border: none;
    padding: 20px 0;
    border-radius: 5px;
}